{% extends "::LayoutAdmin/integration.html.twig" %}
  {% block upload %}

        <!-- Dropzone css -->
        <link href="{{asset('java/plugins/dropzone/dist/dropzone.css')}}" rel="stylesheet" type="text/css">






  <div class="col-lg-11">
                    <div class="card">
                     <form action="" method="post" class="form" id="form" >
                      <div class="card-header">

<h1>Ajout de bien avec ses photos</h1>
                      </div>

                      <div class="card-body ">

                  <table class="table table-bordred table-striped table-inverse display">

 <tr><td> <h2>Les infos du bien</h2></td><td></td></tr>

    <tr><td><strong>  {{ form_label(formB.nomBien, "") }}

    {{ form_errors(formB.nomBien) }}   </strong></td><td> {{ form_widget(formB.nomBien) }}


 </td></tr>

    <tr><td><strong>
    {{ form_label(formB.prix, "",{'attr': {'class': 'row'}})}}

    {{ form_errors(formB.prix) }}     </strong></td><td>{{ form_widget(formB.prix,{'attr': {'class': 'form-control'}}) }}

 </td></tr>
    <tr><td><strong> {{ form_label(formB.bienParent, "Parent",{'attr': {'class': 'row'}}) }}

    {{ form_errors(formB.bienParent) }}       </strong></td><td>{{ form_widget(formB.bienParent) }}

 </td></tr>
<tr><td><strong>
    {{ form_label(formB.Proprietaire, "",{'attr': {'class': 'row'}}) }}

    {{ form_errors(formB.Proprietaire) }}      </strong></td><td>{{ form_widget(formB.Proprietaire) }}
 </td></tr>
<tr><td> {# Génération du label. #}
<strong>
   {{ form_label(formB.Type, "",{'attr': {'class': 'row'}}) }}

    {{ form_errors(formB.Type) }}
</strong>
            </td> <td>





      {# Génération de l'input. #}

      {{ form_widget(formB.Type) }}



 </td></tr>
<tr><td> {# Génération du label. #}
<strong>

{{ form_label(formB.Localite ,"",{'attr': {'class': 'row'}}) }}

    {{ form_errors(formB.Localite) }}

</strong>
            </td> <td>

  {{ form_widget(formB.Localite) }}


      {# Génération de l'input. #}



</td></tr>
 <tr><td><strong> {{ form_label(formB.description, "",{'attr': {'class': 'row'}}) }}

    {{ form_errors(formB.description) }}       </strong></td><td>
      {{ form_widget(formB.description) }}
 </td></tr
    >
<tr><td> {# Génération du label. #}
<strong id="in">Insérer ici des images

</strong>
            </td> <td>
            {{ form(formI)}}
   <div class="row" >
                            <div class="col-md-12 portlets">
                                <!-- Your awesome content goes here -->
                                <div class="m-b-30">
                                    <form action="#" class="dropzone" id="dropzone" >
                                      <div class="fallback" id="photos">
                                        <input name="file" type="file" multiple="multiple" >
                                      </div>
                                    </form>
                                </div>
                            </div>
                        </div>


      {# Génération de l'input. #}



</td></tr>









        </table>


                      </div>
                      <div class="card-footer" id="preview">
                        <button type="submit" class="btn btn-dark btn-sm">
                          <i class="fa fa-dot-circle-o"></i> Enregistrer
                        </button>
                        <button type="reset" class="btn btn-danger btn-sm">
                          <i class="fa fa-ban"></i> Reset
                        </button>
                      </div>
                       {{ form_rest(formB) }}
 </form>


                    </div>




        </div>
         <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="{{asset('java/js/modernizr.min.js')}}"></script>
        <script src="{{asset('java/js/jquery.min.js')}}"></script>
        <script src="{{asset('java/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('java/js/detect.js')}}"></script>
        <script src="{{asset('java/js/fastclick.js')}}"></script>
        <script src="{{asset('java/js/jquery.slimscroll.js')}}"></script>
        <script src="{{asset('java/js/jquery.blockUI.js')}}"></script>
        <script src="{{asset('java/js/waves.js')}}"></script>
        <script src="{{asset('java/js/wow.min.js')}}"></script>
        <script src="{{asset('java/js/jquery.nicescroll.js')}}"></script>
        <script src="{{asset('java/js/jquery.scrollTo.min.js')}}"></script>
<script>
$('#dropzone').change(function() {
    console.log("changer");


    /*  $("#preview").each(function(e) {
        this.remove();
    });
    var file = $(this);
    var reader = new FileReader;
    reader.onload = function(event) {
        var img = new Image();
        img.onload = function() {
            var width = 140;
            var height = 90
            var canvas = $('<canvas id="preview"></canvas>').attr({ width: width, height: height });
            file.after(canvas);
            var context = canvas[0].getContext('2d');
            context.drawImage(img, 0, 0, width, height);
        };
        img.src = event.target.result;
    };
    reader.readAsDataURL(file[0].files[1]);
*/
});

</script>
        <script src="{{asset('java/js/jquery.app.js')}}"></script>

        <!-- Page Specific JS Libraries -->
        <script src="{{asset('java/plugins/dropzone/dist/dropzone.js')}}"></script>


{% endblock %}

